

.clubs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #A0C49D;
    
}

.clubs-list{
    width: 75vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-items: center;
    
}



.club {
    border-radius: 15px;
    width: 300px;
    height: 480px;
    margin: 20px;
    background-color: #C4D7B2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .club:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    background-color: #A0C49D;
    cursor: pointer;
  }


.club-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .club h1{
    width: 100%;
      text-align: center;
    
      background-color: #E1ECC8;
    font-family: Arial, Helvetica, sans-serif;
  }
  .club p{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
  }
  .club a {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    text-decoration: none;
    color: black;
  }
  .club a svg{
    width:10px;
    height: 10px;
  }

  @media only screen and (max-width: 1300px) {
    .clubs-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .clubs-list {
      grid-template-columns: 1fr;
    }
  }